{{question.author}}'s question: {{question.content}}
Notes: {{question.notes}}

<h2> Answers </h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>
<br>
<button {{action 'delete' question}}>Delete this question</button>
